div.today {
  position: absolute;
  text-align: center;
}


#today_error {
  top: 30%;
  left: 30%;
  height: 40%;
  width: 40%;
  font-size: 3vmin;
}

#today_title {
  top: 1%;
  left: 5%;
  width: 95%;
  height: 8%;
  font-size: 3vmin;
  font-weight: bold;
}

div.event {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 10%;
}
