div.weather {
  position: absolute;
  text-align: center;
}

#weather_error {
  top: 30%;
  left: 30%;
  height: 40%;
  width: 40%;
  font-size: 3vmin;
  text-align: center;
}


#DScredit {
  top: 90%;
  left: 75%;
  height: 10%;
  width: 24%;
  font-size: 1.5vmin;
  text-align: right;
}


#current_temp {
  top: 0%;
  left: 25%;
  height: 40%;
  width: 15%;
  font-size: 6vmin;
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#current_condition_icon {
  position: absolute;
  top: 0%;
  left: 5%;
}

#today_high_low {
  top: 0%;
  left: 45%;
  height: 40%;
  width: 20%;
  font-size: 3vmin;
  text-align: left;
  line-height: 5vmin;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#today_summary {
  top: 0%;
  left: 70%;
  height: 40%;
  width: 25%;
  font-size: 2vmin;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
