div.weather {
  position: absolute;
  text-align: center;
}

#weather_error {
  top: 30%;
  left: 30%;
  height: 40%;
  width: 40%;
  font-size: 3vmin;
  text-align: center;
}


#DScredit {
  top: 95%;
  left: 50%;
  height: 6%;
  width: 50%;
  font-size: 1.3vmin;
  text-align: right;
}


#current_condition_icon {
  position: absolute;
  top: -2%;
  left: 5%;
}

#current_temp {
  top: 0%;
  left: 25%;
  height: 40%;
  width: 15%;
  font-size: 6vmin;
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#today_high_low {
  top: 0%;
  left: 45%;
  height: 40%;
  width: 20%;
  font-size: 3vmin;
  text-align: left;
  line-height: 5vmin;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#today_summary {
  top: 0%;
  left: 70%;
  height: 40%;
  width: 25%;
  font-size: 2vmin;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}


div.forecast {
  position: absolute;
  top: 50%;
  width: 13%;
  height: 45%;
}

#forecast_day {
  top: 5%;
  left: 5%;
  height: 20%;
  width: 90%;
  position: absolute;
  text-align: center;
  font-size: 2vmin;
  line-height: 1vmin;
}

#forecast_high_low {
  top: 80%;
  left: 5%;
  height: 20%;
  width: 90%;
  position: absolute;
  text-align: center;
  font-size: 2vmin;
  line-height: 2vmin;
}

canvas.forecast {
  position: absolute;
  top: 30%;
  left: 25%;
}
