div.news {
  position: absolute;
  text-align: center;
}

#news_error {
  top: 30%;
  left: 30%;
  height: 40%;
  width: 40%;
  font-size: 3vmin;
}


#news_title {
  top: 0%;
  left: 10%;
  height: 10%;
  width: 80%;
  font-size: 3vmin;
  font-weight: bold;
}
