div.news {
  position: absolute;
  text-align: center;
}

#news_error {
  top: 30%;
  left: 30%;
  height: 40%;
  width: 40%;
  font-size: 3vmin;
}


#news_title {
  top: 0%;
  left: 10%;
  height: 7%;
  width: 80%;
  font-size: 3vmin;
  font-weight: bold;
}


div.news_column {
  position: absolute;
  top: 10%;
  height: 90%;
}

#source_title {
  font-size: 3vmin;
  line-height: 1vmin;
  text-align: center;
}

#story_title {
  font-size: 2.5vmin;
  padding-bottom: 1.5vmin;
}
